<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <style>
        .btn-custom {
            background-color: #D2E48F;
            color: #000; /* Cambia el color del texto si es necesario */
        }
    </style>
    <title>Botones con Bootstrap</title>
</head>
<body class="text-center">
    <div class="container mt-5">
        <h1>Selecciona una página:</h1>
        <div class="row mt-5">
            <div class="col">
                <a href="/blog/lista_mario" class="btn btn-custom btn-lg">Mario Vargas</a>
            </div>
            <div class="col">
                <a href="/blog/lista_ton" class="btn btn-custom btn-lg">Ton Cruise</a>
            </div>
            <div class="col">
                <a href="/blog/entradas" class="btn btn-custom btn-lg">Todas las entradas</a>
            </div>
        </div>
    </div>
</body>
</html>
